<div class="container-fluid error-page-moe-wrapper">
    <div class="row justify-content-md-center pl-md-2 pt-4 pt-md-0">
        <div class="col-12 col-md-8">
            <span>{{#str}}error_page_moe_user_idnumber, auth_saml2{{/str}}</span>
            <form  id="saml2courseform" action="{{config.wwwroot}}/auth/saml2/login.php" method="POST" accept-charset="utf-8" class="mform">
                <div id="fitem_id_authkey" class="form-group row pt-3 fitem femptylabel  ">
                    <div style="display: none;">
                        <input name="action" type="hidden" value="updateidnumber">
                    </div>
                    <div class="col-md-9 form-inline felement" data-fieldtype="text">
                        <input type="text" class="form-control " name="idnumber" id="id_idnumber" value="" dir="auto">
                        {{#error}}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{error}}</strong>
                            </div>
                        {{/error}}
                    </div>
                </div>
                <div id="fitem_id_signupbutton" class="form-group row  fitem femptylabel  ">
                    <div class="col-md-9 form-inline felement" data-fieldtype="submit">
                        <input type="submit" class="btn btn-primary" name="signupbutton" id="id_signupbutton" value="{{#str}}approve{{/str}}">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start">
            <img src="{{config.wwwroot}}/auth/saml2/pix/petel.svg">
        </div>
    </div>
</div>