{{#type_card_normal}}
    {{>community_social/teachers/card-normal}}
{{/type_card_normal}}

{{#type_card_empty}}
    {{>community_social/teachers/card-empty}}
{{/type_card_empty}}

{{#type_card_collegue}}
    {{>community_social/teachers/card-collegue}}
{{/type_card_collegue}}