<h1 class="social-title">
  {{#str}}thepeerenvironment, community_social{{/str}}
</h1>
<div id="teachers-tabs" class="mb-4">
  {{>community_social/teachers/tabs}}
</div>

<div id="teachers-cards" class="pt-2">
  {{>community_social/teachers/cards}}
</div>
