<div class="block_assessmentdiscussion_preset d-none">

    <!-- Dashboard -->
    <input type="hidden" id="cmid" name="cmid" value="{{cmid}}">
    <input type="hidden" id="groupid" name="groupid" value="{{groupid}}">
    <input type="hidden" id="dashboard_tab" name="dashboard_tab" value="{{dashboard_tab}}">
    <input type="hidden" id="anonymous_mode" name="anonymous_mode" value="{{anonymous_mode}}">
    <input type="hidden" id="sort_question" name="sort_question" value="{{sort_question}}">
    <input type="hidden" id="splitter_width" name="splitter_width" value="{{splitter_width}}">
    <input type="hidden" id="dashboard_tab_discussion_value" name="dashboard_tab_discussion_value" value="{{dashboard_tab_discussion_value}}">

    <!-- List question -->
    <input type="hidden" id="qid" name="qid" value="{{qid}}">

    <!-- Answers area -->
    <input type="hidden" id="answers_tab_default" name="answers_tab_default" value="{{answers_tab_default}}">
    <input type="hidden" id="sort_answers_default" name="sort_answers_default" value="{{sort_answers_default}}">
    <input type="hidden" id="answers_tab" name="answers_tab" value="{{answers_tab}}">
    <input type="hidden" id="sort_answers" name="sort_answers" value="{{sort_answers}}">
    <input type="hidden" id="answer_tab_discussion_value" name="answer_tab_discussion_value" value="{{answer_tab_discussion_value}}">

    <!-- Overlay area -->
    <input type="hidden" id="overlay_qid" name="overlay_qid" value="{{overlay_qid}}">
    <input type="hidden" id="overlay_tab" name="overlay_tab" value="{{overlay_tab}}">
    <input type="hidden" id="overlay_view_list" name="overlay_view_list" value="{{overlay_view_list}}">
    <input type="hidden" id="overlay_show_answers" name="overlay_show_answers" value="{{overlay_show_answers}}">

</div>