<form class="pc-form" id="popup_share_courses_pombim">
    <div class="pc-form_wrap mb-4">
        <div class="pc-form_text mb-4">{{#str}} sharecoursesdesc, community_sharecourse{{/str}}</div>
    </div>

    <div class="ifcopy-wrapper custom-control custom-checkbox">
        <input id="ifcopy" type="checkbox" name="ifcopy" {{#ifcopy}}checked{{/ifcopy}} class="custom-control-input" />
        <label for="ifcopy" class="custom-control-label ifcopy-label pl-2">{{#str}} ifcopycourse,
            community_social{{/str}}</label>
    </div>
</form>