<div style="direction: rtl; text-align: right">
    <h1>{{#str}}exportpdftitle, qtype_diagnosticadv {{/str}}  {{{timecreated}}}</h1>

<div style="direction: rtl; text-align: right">
{{{airesult}}}
</div>

<h1>{{#str}}exportpdfpromt, qtype_diagnosticadv {{/str}} </h1>
<div style="direction: rtl; text-align: right">
{{{teacherpromt}}}
</div>
