<div class="tiny_hotwords-wrap">
    {{#pix}} i/loading, core {{/pix}}
</div>


<!--<div id="hotwords-modal-body">
    <div>
        <label for="urlInput" class="w-25">{{#str}}url, tiny_hotwords{{/str}}</label>
        <input type="text" id="urlInput" class="form-control" value="{{text}}" name="urlInput"/>
    </div>
    <div class="hotwords-editor-wrapper mt-3">
        <label for="contentInput" class="w-25">{{#str}}content, tiny_hotwords{{/str}}</label>
        <textarea id="hotword_textarea" style="resize:none" type="text" id="contentInput" name="contentInput">{{prevcontent}}</textarea>
    </div>
    <div class="mt-2">
        <button class="btn btn-primary" id="hotword_submit" type="submit">{{#str}}submit, tiny_hotwords{{/str}}</button>
    </div>
</div>-->
