<a class="qtype-mlnlpessay-settingaddedit" data-action="{{action}}" data-id="{{id}}">
    {{#pix}}i/edit, core{{/pix}}
    {{#str}}edit{{/str}}
</a>
{{^nodelete}}
    <a class="qtype-mlnlpessay-settingdelete ml-1" data-action="{{action}}" data-id="{{id}}">
        {{#pix}}i/delete, core{{/pix}}
        {{#str}}delete{{/str}}
    </a>
{{/nodelete}}