<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">

<div class="mb-3">
    <input type="text" id="searchInput" class="mb-3" size="50">
    <input type="text" id="searchQuestionNumber" placeholder="{{#str}}searchquestionplaceholder, qtype_mlnlpessay{{/str}}" class="mb-3" size="50">
</div>

<div class="mb-3" id="questionattempts">
</div>

<a href="#" type="button" class="btn btn-gray mb-3" id="downloadFullDataButton">
    {{#str}}download_csv, qtype_mlnlpessay{{/str}}
</a>