<h3>{{#str}}catlang, qtype_mlnlpessay{{/str}}</h3>
<div class="mlnlpessay-lang-wrapper mt-2 mb-2">
</div>
<div>
    <button class="qtype-mlnlpessay-settingaddedit btn btn-primary mt-1" data-action="langs">{{#str}}langadd, qtype_mlnlpessay{{/str}}</button>
</div>
<h3>{{#str}}cattopic, qtype_mlnlpessay{{/str}}</h3>
<div class="mlnlpessay-topics-wrapper mt-5 mb-2">
</div>
<div>
    <button class="qtype-mlnlpessay-settingaddedit btn btn-primary mt-1 mb-1" data-action="topics">{{#str}}topicadd, qtype_mlnlpessay{{/str}}</button>
</div>
<h3>{{#str}}catsubtopic, qtype_mlnlpessay{{/str}}</h3>
<div class="mlnlpessay-subtopics-wrapper mt-5 mb-2">
</div>
<div>
    <button class="qtype-mlnlpessay-settingaddedit btn btn-primary mt-1 mb-1" data-action="subtopics">{{#str}}subtopicadd, qtype_mlnlpessay{{/str}}</button>
</div>
<h3>{{#str}}categories, qtype_mlnlpessay{{/str}}</h3>
<div class="input-group mb-2" style="max-width: 400px;">
    <input type="text" class="form-control mlnlpessay-categories-search" placeholder="{{#str}}searchcategories, qtype_mlnlpessay{{/str}}" aria-label="{{#str}}searchcategories, qtype_mlnlpessay{{/str}}">
    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
</div>
<div class="mlnlpessay-categories-wrapper mt-5 mb-2">
</div>
<div>
    <button class="qtype-mlnlpessay-csvupload btn btn-primary mt-1 mb-1">{{#str}}csvupload, qtype_mlnlpessay{{/str}}</button>
</div>