{{#show_version_updated_btn}}
    <button type="button" class="btn show-download-modal-btn p-0 ml-1"
        data-toggle="tooltip" data-placement="top"
        title="{{#str}}clickformoreinformationandupdateoptions, format_flexsections{{/str}}"
        data-action="show_download_modal">
        <i class="fal text-primary fa-cloud-download"></i>
    </button>
{{/show_version_updated_btn}}