
{{> quiz_assessmentdiscussion/dashboard/preset}}

<div class="container-fluid p-0 block_assessmentdiscussion_report">
    {{> quiz_assessmentdiscussion/dashboard/main}}
</div>
<div class="answeroverlay-parent"></div>