{{#isgradestypescalar}}
{{#selected0}}{{#str}}scalar_grade_0, qtype_essayrubric{{/str}}{{/selected0}}
{{#selected1}}{{#str}}scalar_grade_1, qtype_essayrubric{{/str}}{{/selected1}}
{{#selected2}}{{#str}}scalar_grade_2, qtype_essayrubric{{/str}}{{/selected2}}
{{#selected3}}{{#str}}scalar_grade_3, qtype_essayrubric{{/str}}{{/selected3}}
{{#selected4}}{{#str}}scalar_grade_4, qtype_essayrubric{{/str}}{{/selected4}}
{{#selected5}}{{#str}}scalar_grade_5, qtype_essayrubric{{/str}}{{/selected5}}
{{/isgradestypescalar}}
{{^isgradestypescalar}}
{{#checked}}✅{{/checked}}
{{^checked}}❌{{/checked}}
{{/isgradestypescalar}}